body{
    background-color: rgb(255, 128, 0);
}
#one{
    color:green;
}
.two{
    height:100px;
}
.one{
    border-radius :50px; 
    background-color:grey;
    color:white;
    padding-top: 30px;
    padding-left: 40px;
padding-bottom: 30px;
}
.three{
    width:100px;
}